{% extends 'base.html' %}

{% block content %}
<h2>{% block title %} Create a New Post {% endblock %}</h2>

<div class="container">
    <form method="post">
        <div class="data-section">

            <div class="input-box">
                <span class="data">Title</span>
                <input type="text" name="title"
                    placeholder="Post title"
                    value="{{ request.form['title'] }}"></input>
            </div>

            <div class="input-box">
                <span class="data">Content</span>
                <textarea name="content" placeholder="Post content">{{ request.form['content'] }}</textarea>
            </div>

        </div>

        <div class="button">
            <input type="submit" value="submit">
        </div>
</div>
{% endblock %}
